• The website must be available for viewing on the Internet at the time of judging. No
changes can be made to the website after the offi cial entry date.

• POWERPOINT - Explanations should include the development and design process, the use and
implementation of innovative technology, and the use and development of media
elements.

• Readable code(comments, semantics, structure): 1-15
• Compatible with all browsers: 1-10

• STATEMENT OF ASSURANCE (If not fulfilled -5 points)